body {
    background-color: #202020;
}

#canvas {
    border: 1px solid #202020;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    width: 1600px;
    box-shadow: #0000008f 0 0 10px 10px;
}
